<nav-categories (categoryChange)="ChangeCategory($event)"></nav-categories>
<div id="container" class="container padding">
    <filter (selected)="Filter($event)"></filter>
    <div class="wrapper-cards-list">
        <div class="column">
            <card-product-list *ngFor="let p of produtos_l" [product]="p" [darkPatterned]="true"></card-product-list>
        </div>
        <div class="column">
            <card-product-list *ngFor="let p of produtos_r" [product]="p" [darkPatterned]="true"></card-product-list>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>