.shooping-cart {
    width: 100%;
    position: fixed;
    bottom: 70px;

    .tag {
        width: 100%;
        height: 45px;
        color: #fff;
        background-color: #2A509E;
        padding: 0 20px;
        text-align: center;
        line-height: 45px;
        font-size: 12px;
        font-weight: 600;
        position: relative;
        
        .number-of-products {
            position: absolute;
            font-size: 13px;
            font-weight: 600;
            left: 20px;
            top: 0;

            span {
                font-size: 16px;
                margin-right: 10px;
            }
        }

        .price {
            position: absolute;
            top: 0;
            right: 20px;
            font-size: 15px;
        }
    }

    @keyframes openModal {
        0% {
            height: 0px;
            overflow: hidden;
        }
        99% {
            height: 100%;
            overflow: hidden;
        }
        100% {
            height: 100%;
            overflow: auto;
        }
    }

    .shooping-modal {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-color: black;
        color: #fff;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 0px;
        overflow: hidden;
        transition: .2s ease-in-out;

        &.active {
            // height: 100%;
            animation: openModal .3s ease-in-out forwards;
        }

        .top {
            height: 45px;
            line-height: 45px;
            background-color: #315DB7;
            text-align: center;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            font-size: 12px;
            font-weight: 600;
        }

        .product-list {
            padding: 20px;
            border-bottom: 1px solid #1A1A1A;

            .title {
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 15px;
            }

            .list {
                ul {
                    list-style: none;
                    li {
                        height: 50px;
                        position: relative;
                        font-size: 12px;
                        margin-bottom: 15px;

                        &.removing {
                            animation: remove .5s ease forwards;
                        }

                        img {
                            height: 50px;
                            margin-right: 20px;
                            float: left;
                        }

                        .desc, .price {
                            padding-left: 50px;
                        }

                        .desc {
                            top: 0;
                            position: absolute;
                        }

                        .price {
                            font-size: 15px;
                            bottom: 0;
                            position: absolute;
                        }

                        .delete {
                            float: right;
                            height: 50px;
                            width: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #E94040;
                            font-size: 18px;
                        }
                    }
                }
            }

        }

        .checkout {
            padding: 20px;

            .title {
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .list {
                ul {
                    list-style: none;

                    li {
                        overflow: auto;
                        padding: 5px 0;
                        width: 100%;
                        font-size: 12px;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: #808080;

                        .label {
                            float: left;
                        }
                        .price {
                            float: right;
                        }

                        &.total {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .order {
            padding: 0 20px 10px 20px;
        }

        .warning {
            text-align: center;
            padding: 5px 20px 20px 20px;
            color: #DB6A14;
            font-size: 12px;

            span {
                font-weight: 600;
            }
        }
    }
}

@keyframes remove {
    0% {
        transform: translateX(0);
        opacity: 1;
        height: 50px;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
        height: 0px;
    }
}