<div id="product-card" class="gtm-product-card card solid-color" (click)="Click()">
    <div class="best-seller gtm-product-card" *ngIf="darkPatterned && product.bestSeller">
        Mais <br />
        vendido
        <div class="triangle"></div>
    </div>
    <div id="top_{{product.id}}" class="top gtm-product-card">
        <!-- <div class="loading-skeleton" *ngIf="!loadedImg">
            <img src="/assets/imgs/loading.svg" alt="">
        </div> -->
        <img class="img" [src]="product.imgPath" alt="" (load)="SetBackColor($event)">
    </div>
    <div class="info gtm-product-card">
        <div class="recent-viewed gtm-product-card" *ngIf="darkPatterned && product.recentViewed && product.stock > 3">Visualizado recentemente</div>
        <div class="running-out-stock gtm-product-card" *ngIf="darkPatterned && product.stock <= 3">{{product.stock}} Unidades restantes</div>
        <div class="price gtm-product-card" *ngIf="!darkPatterned">R$ {{product.price}}</div>
        <div class="desc gtm-product-card">{{product.name}}</div>
        <div class="detail-desc gtm-product-card">Adicionar info</div>
    </div>
</div>