<div class="shooping-cart">
    <div class="tag" (click)="ToggleCart()">
        <div class="number-of-products">
            <span class="icon-cart"></span>
            {{qtdProducts}}
        </div>
        Ver carrinho
        <div class="price">R$ {{price.toLocaleString('pt-BR')}}</div>
    </div>

    <!-- ================= -->
    <!-- MODAL DO CARRINHO -->
    <!-- ================= -->

    <div id="shooping-modal" class="shooping-modal">
        <div class="top" (click)="ToggleCart()">
            <span class="icon-arrow_down"></span>
            Seu carrinho
        </div>
        <div>
            <div class="product-list">
                <div class="title">Itens</div>
                <div class="list">
                    <div *ngIf="sale.products.length == 0">
                        Adicione produtos ao seu carrinho
                    </div>
                    <ul *ngIf="sale.products.length > 0">
                        <li *ngFor="let p of sale.products; let i =index">
                            <img [src]="p.imgPath" alt="">
                            <div class="desc">{{p.name}}</div>
                            <div class="price">R$ {{p.price.toLocaleString('pt-BR')}}</div>
                            <div class="delete" (click)="Remove($event, i)">
                                <span class="icon-delete"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="checkout">
                <div class="title">Resumo</div>
                <div class="list">
                    <ul>
                        <li>
                            <span class="label">Itens</span>
                            <span class="price">R$ {{price.toLocaleString('pt-BR')}}</span>
                        </li>
                        <li>
                            <span class="label">LOGÍSTICA</span>
                            <span class="price">R$ {{sale.logistic.toLocaleString('pt-BR')}}</span>
                        </li>
                        <li>
                            <span class="label">FRETE</span>
                            <span class="price">R$ {{sale.shipping.toLocaleString('pt-BR')}}</span>
                        </li>
                        <li class="total">
                            <span class="label">TOTAL</span>
                            <span class="price">R$ {{(price + sale.shipping + sale.logistic).toLocaleString('pt-BR')}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="order">
                <button class="primary">FAZER PEDIDO</button>
            </div>
            <div class="warning">
                O valor do pedido deve ser até <span>R$ 100</span>
            </div>
        </div>
    </div>
</div>