@font-face {
    font-family: 'Open_Sans';
    src: url('/assets/fonts/Open_Sans/OpenSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Open_Sans';
    src: url('/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Open_Sans';
    src: url('/assets/fonts/Open_Sans/OpenSans-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Open_Sans';
    src: url('/assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf');
    font-weight: 700;
}