<div 
class="product-group-card" 
[ngClass]="{'no-border': noBorder, 'over-img-text': (type == 2)}" 
(click)="GoToGroup(groupProduct.groupId)">
    <img [src]="groupProduct.imgPath" alt="">
    <div class="over-img-text">
        <div class="title">{{groupProduct.title}}</div>
        <!-- <div class="subtitle">{{groupProduct.subtitle}}</div> -->
    </div>
    <div class="basic-info">
        <div class="title">{{groupProduct.title}}</div>
        <div class="subtitle">{{groupProduct.subtitle}}</div>
    </div>
</div>