<div class="container">
    <div class="benson-area">
        <div class="welcome-human">
            <div>Olá Humano!</div>
            <div>Bem vindo a DarkShoop</div>
        </div>
        <div class="benson">
            <img src="/assets/imgs/triangle-mockup.svg" alt="">
        </div>
        <div class="wall"></div>
        <div class="floor"></div>
    </div>
    <div class="info-area">
        <div class="quick-info">
            Vou te explicar como <br>
            funciona o site
        </div>
        <div class="how-does-it-works">
            Você tem R$ 100 reais para gastar
        </div>
        <div class="go-shopping">
            <button type="button" class="primary" (click)="GoShopping()">IR PARA AS COMPRAS</button>
        </div>
    </div>
</div>