.benson-area, .info-area {
    height: 50%;
    color: #fff;
}

.benson-area {
    position: relative;
    background-color: #1a1a1a;

    .welcome-human {
        padding-top: 30px;
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
    }

    .benson {
        width: 100%;
        height: 100%;
        position: absolute;

        img {
            position: absolute;
            bottom: 35px;
            width: 130px;
            margin: auto;
            left: 0;
            right: 0;
        }
    }
    .wall {
        margin-left: 30px;
        height: calc(100% - 70px);
        width: calc(100% - 60px);
        background-color: #262626;
    }

    .floor {
        border-bottom: 70px solid #333333;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        height: 0;
        width: 100%;
    }
}

.info-area {
    .quick-info {
        margin: 40px 0;
        text-align: center;
    }

    .how-does-it-works {
        margin: 30px 0;
        text-align: center;
    }

    .go-shopping {
        padding: 0 50px;

        button {
            font-size: 14px;
        }
    }
}