<div class="container">
    <div class="title" (click)="Back()">
        <div class="exit">
            <span class="icon-delete"></span>
        </div>
        DETALHES
    </div>
    <div class="info">
        <div id="product-image" class="product-image">
            <img src="/assets/imgs/132451516_1GG.png" alt="">
        </div>
        <div class="desc">
            Harry Potter e o Enigma do Príncipe
        </div>
        <div class="sub-desc">J.K. Rolling</div>
        <div class="full-desc">Nullam vitae tristique est. Etiam velit ante, consectetur 
            sit amet ullamcorper mollis, elementum ac neque. Nunc 
            tellus sapien, blandit pellentesque tincidunt vitae.</div>
        <button class="primary">
            <span class="button-text">ADICIONAR AO CARRINHO </span>
            <span class="price-text">R$ 24,00</span>
        </button>
    </div>
</div>