<div class="container">
    <div class="title" (click)="Back()">
        <div class="exit">
            <span class="icon-delete"></span>
        </div>
        DETALHES
    </div>
    <div class="info">
        <div id="product-image" class="product-image">
            <img [src]="product.imgPath" alt="" (load)="SetBackColor($event)">
        </div>
        <div class="desc">
            {{product.name}}
        </div>
        <div class="sub-desc">Adcionar info</div>
        <div class="full-desc">Nullam vitae tristique est. Etiam velit ante, consectetur 
            sit amet ullamcorper mollis, elementum ac neque. Nunc 
            tellus sapien, blandit pellentesque tincidunt vitae.</div>
        <button class="primary" (click)="AddToCart()">
            <span class="button-text">ADICIONAR AO CARRINHO </span>
            <span class="price-text">R$ {{product.price}}</span>
        </button>
    </div>
</div>