.list-wrapper {
    padding-bottom: 1px;
    background-color: #1a1a1a;
    color: #fff;

    .title {
        padding: 30px 20px;
        font-size: 20px;
        font-weight: 600;
    }

    ul {
        padding: 0px 20px;
        list-style: none;

        li {
            margin-bottom: 20px;
            font-size: 13px;

            span {
                font-weight: 600;
            }
        }
    }
}

.actions {
    width: 100%;
    padding: 10px 20px;

    .checks {
        margin-bottom: 30px;
    }
}