<div class="center-info">
    <div class="top">
        <div class="img-logo">
            <img src="/assets/imgs/triangle-mockup.svg" alt="">
        </div>
        <div class="instructions">
            Entre com um e-mail válido <br>
            para acessar a plataforma.
        </div>
    </div>
    <div class="login-form">
        <input type="text" class="fix-borders" placeholder="Nome ou apelido">
        <input type="text" placeholder="E-mail">
        <button class="primary" [disabled]=false>Entrar no DarkShoop</button>
    </div>
    <div class="other">
        Entrar sem informar mes dados
    </div>
</div>