<div class="nav-tabs">
    <div class="tab">
        <span class="icon-benson"></span>
        <div class="label">Inicio</div>
    </div>
    <div class="tab">
        <span class="icon-categorias"></span>
        <div class="label">Categorias</div>
    </div>
    <div class="tab">
        <span class="icon-search"></span>
        <div class="label">Pesquisa</div>
    </div>
    <div class="darken"></div>
    <div id="blur" class="blur">
        <div id="canvas" class="canvas"></div>
    </div>
</div>