<div class="nav-tabs">
    <div class="tab active home" routerLink="/tabs/home">
        <span class="icon-benson"></span>
        <div class="label">Inicio</div>
    </div>
    <div class="tab categories" routerLink="/tabs/categories">
        <span class="icon-categorias"></span>
        <div class="label">Categorias</div>
    </div>
    <div class="tab search" routerLink="/tabs/search">
        <span class="icon-search"></span>
        <div class="label">Pesquisa</div>
    </div>
    <div class="darken"></div>
    <div id="blur" class="blur">
        <div id="canvas-wrapper" class="canvas-wrapper"></div>
    </div>
</div>
<shooping-cart *ngIf="shoppingCartHasItens"></shooping-cart>

<!-- [ngClass]="{'bluring': bluring}" -->