<div class="wrapper-gradient">
    <div class="predominant-color" [style.background-color]="product.color"></div>
    <div class="content">
        <div class="fixed-wrapper">
            <div class="back" (click)="Back()">
                <span class="icon-arrow_left"></span>
            </div>
            <div class="product-info">
                <img [src]="product.imgPath" alt="">
                <div class="name">
                    {{product.name}}
                </div>
                <div class="botao">
                    <botao 
                        [label]="'Adicionar ao carrinho'" 
                        [price]="'R$ ' + product.price"
                        [onClick]="AddToCart">
                    </botao>
                </div>
            </div>
        </div>
        <div class="interesting-products">
            <div class="center">
                <div class="grabber"></div>
            </div>
            <div class="title">
                Produtos que podem te interessar
            </div>
            <div class="wrapper-cards-list">
                <div class="column">
                    <card-product-list *ngFor="let p of produtos_l" [product]="p" [darkPatterned]="true"></card-product-list>
                </div>
                <div class="column">
                    <card-product-list *ngFor="let p of produtos_r" [product]="p" [darkPatterned]="true"></card-product-list>
                </div>
            </div>
        </div>
    </div>
</div>