.wrapper-gradient {
    height: 100vh;
    background: #7b7b7b; /* Old browsers */
    background: -moz-linear-gradient(top,  #7b7b7b 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7b7b7b 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7b7b7b 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b7b7b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.predominant-color {
    width: 100%;
    height: 100vh;
    opacity: .6;
    position: absolute;
}

.content {
    width: 100%;
    height: 100vh;
    position: absolute;

    .fixed-wrapper {
        width: 100%;
        position: fixed;
    }

    .back {
        font-size: 20px;
        padding: 20px;
        color: #fff;
    }

    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        img {
            margin: 30px 0;
            width: 60%;
        }

        .name {
            padding: 0 10%;
            font-size: 17px;
            font-weight: 700;
            color: #fff;
            text-align: center;
            margin-bottom: 30px;
        }

        .botao {
            padding: 0 10%;
            width: 100%;
        }
    }

    .interesting-products {
        width: 100%;
        background-color: #0D0D0D;
        margin-top: 501px;
        position: absolute;
        z-index: 1;
        border-radius: 50px 50px 0 0;
        padding: 10px 20px;
        box-shadow: 7px -7px 10px rgba(0, 0, 0, .2);

        .center {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;

            .grabber {
                width: 60px;
                height: 5px;
                background-color: #373737;
                border-radius: 100px;
            }
        }

        .title {
            font-size: 15px;
            font-weight: 700;
            color: #fff;
            padding-bottom: 20px;
        }

        .wrapper-cards-list {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 50px;
        }
        
        .column {
            flex: 50%;
            max-width: 50%;
            padding: 0 5px;
        }
    }
}