<div class="container">
    <div class="center-info">
        <div class="top">
            <div class="img-logo">
                <img src="/assets/imgs/benson.svg" alt="">
            </div>
            <div class="instructions">
                Entre com um e-mail válido <br>
                para acessar a plataforma.
            </div>
        </div>
        <div class="login-form">
            <form [formGroup]="loginForm" action="">
                <input formControlName="name" type="text" class="fix-borders" placeholder="Nome ou apelido">
                <input formControlName="email" type="text" placeholder="E-mail">
                <button type="button" class="primary" (click)="Login()" [disabled]="!loginForm.valid">Entrar no DarkShoop</button>
            </form>
        </div>
        <div class="other">
            Entrar sem informar mes dados
        </div>
    </div>
</div>