@import './assets/scss/buttons.scss';
@import './assets/scss/font.scss';
@import './assets/scss/icons.scss';
@import '~ngx-toastr/toastr';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Open_Sans;
}

html, body {
    background-color: black;
}

main {
    min-height: 100%;
    width: 100%;
    position: absolute;
}

.container {
    overflow: auto;
    background-color: black;

    &.padding {
        padding: 10px;
        padding-bottom: 70px;
    }
}

.container-to-blur {
    background-color: black;
}

.loading-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: red;
    top: 0;
    left: 0;
}