<div id="container" class="container">
    <product-group-card [groupProduct]="groupProduct" [noBorder]="true"></product-group-card>
    <div class="group-itens">
        <div class="wrapper-cards-list">
            <div class="column">
                <card-product-list *ngFor="let p of produtos_l" [product]="p"></card-product-list>
            </div>
            <div class="column">
                <card-product-list *ngFor="let p of produtos_r" [product]="p"></card-product-list>
            </div>
        </div>
    </div>
</div>