<div class="shooping-cart">
    <div class="tag" (click)="OpenShoppingCart()">
        <div class="number-of-products">
            <span class="icon-cart"></span>
            {{qtdProducts}}
        </div>
        Ver carrinho
        <div id="price" class="price">R$ {{price.toLocaleString('pt-BR')}}</div>
    </div>

    <!-- ================= -->
    <!-- MODAL DO CARRINHO -->
    <!-- ================= -->

    <div #shoopingModal class="shooping-modal">
        <div class="top" (click)="CloseShoppingCart()">
            <span class="icon-arrow_down"></span>
            Seu carrinho
        </div>
        <div class="shopping-cart-content-wrapper">
            <div class="product-list">
                <div class="title">Itens</div>
                <div class="list">
                    <div *ngIf="sale.products.length == 0">
                        Adicione produtos ao seu carrinho
                    </div>
                    <ul *ngIf="sale.products.length > 0">
                        <li *ngFor="let p of sale.products; let i =index">
                            <img [src]="p.imgPath" alt="">
                            <div class="desc">{{p.name}}</div>
                            <div class="price">R$ {{p.price.toLocaleString('pt-BR')}}</div>
                            <div class="delete" (click)="Remove($event, i, 'products')">
                                <!-- <span class="icon-delete"></span> -->
                                x
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="product-list" *ngIf="darkPatterned && darkPatternedProducts.length > 0">
                <div class="title">Você vai gostar disso</div>
                <div class="subtitle">Selecionamos alguns itens para acompanhar seu pedido. ;)</div>
                <div class="list">
                    <ul *ngIf="sale.products.length > 0">
                        <li *ngFor="let p of darkPatternedProducts; let i =index">
                            <img [src]="p.imgPath" alt="">
                            <div class="desc">{{p.name}}</div>
                            <div class="price">R$ {{p.price.toLocaleString('pt-BR')}}</div>
                            <div class="delete" (click)="Remove($event, i, 'relatedProducts')">
                                <!-- <span class="icon-delete"></span> -->
                                x
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="checkout">
                <div class="title">Resumo</div>
                <div class="list">
                    <ul>
                        <li>
                            <span class="label">Itens</span>
                            <span class="price">R$ {{price.toLocaleString('pt-BR')}}</span>
                        </li>
                        <div *ngIf="!darkPatterned">
                            <!-- <li>
                                <span class="label">Logística</span>
                                <span class="price">R$ {{sale.logistic.toLocaleString('pt-BR')}}</span>
                            </li> -->
                            <li>
                                <span class="label">Frete</span>
                                <span class="price">R$ {{sale.shipping.toLocaleString('pt-BR')}}</span>
                            </li>
                        </div>
                        <li *ngIf="darkPatterned">
                            <span class="label">Mais custos</span>
                            <ul>
                                <li>
                                    <span class="label">Logística</span>
                                    <span class="price">R$ {{sale.logistic.toLocaleString('pt-BR')}}</span>
                                </li>
                                <li>
                                    <span class="label">Frete</span>
                                    <span class="price">R$ {{sale.shipping.toLocaleString('pt-BR')}}</span>
                                </li>
                            </ul>
                        </li>
                        <li class="total">
                            <span class="label">Total</span>
                            <span class="price">R$ {{(price + sale.shipping + sale.logistic).toLocaleString('pt-BR')}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="warning" *ngIf="price > 100">
                O valor do pedido deve ser até <span>R$ 100</span>
            </div>
            <div class="order">
                <botao
                    [label]="'Fazer Pedido'"
                    [classes]="'primary uppercase'"
                    [disabledButton]="price > 100"
                    [onClick]="CheckoutSale">
                </botao>
            </div>
        </div>
    </div>
</div>