.nav-categories {
    padding: 15px 10px;
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 10000;

    ul {
        list-style: none;

        li {
            font-size: 15px;
            color: #808080;
            margin-right: 15px;
            display: inline;
            font-weight: 600;

            &.active {
                color: #fff;
                font-size: 20px;
            }
        }
    }
}