@font-face {
    font-family: 'icomoon';
    src:  url('/assets/fonts/icons/icomoon.eot?1vh9qu');
    src:  url('/assets/fonts/icons/icomoon.eot?1vh9qu#iefix') format('embedded-opentype'),
      url('/assets/fonts/icons/icomoon.ttf?1vh9qu') format('truetype'),
      url('/assets/fonts/icons/icomoon.woff?1vh9qu') format('woff'),
      url('/assets/fonts/icons/icomoon.svg?1vh9qu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow_left:before {
    content: "\e906";
  }
  .icon-arrow_down:before {
    content: "\e905";
  }
  .icon-benson:before {
    content: "\e900";
  }
  .icon-cart:before {
    content: "\e901";
  }
  .icon-categorias:before {
    content: "\e902";
  }
  .icon-excluir:before {
    content: "\e903";
  }
  .icon-search:before {
    content: "\e904";
  }
  